<div id='content'>
  <div id='menus-component'>
    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Orders
            </h1>
            <ol class="breadcrumb">
              <li class="active">
                <i class="fa fa-table"></i> Orders
              </li>
            </ol>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <form role="form">

              <div class="form-group">
                <label>Order History</label>
                <select class="form-control">
                  <option>Current</option>
                  <option>Closed</option>
                  <option>All</option>
                </select>
              </div>

              <button type="submit" class="btn btn-default">Filter Orders</button>

            </form>

            <div class="page-header">
              <h2>Week Ending 09/28/2014</h2>
            </div>

            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Subscription</th>
                    <th>Items</th>
                    <th>Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>David Smith</p>
                      <p>123 Main St.</p>
                      <p>San Francisco, CA 94102</p>
                    </td>
                    <td>Week 4 of 12</td>
                    <td>
                      <p>Back To School Menu</p>
                      <p>Double Chocolate Cake Add On</p>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Invoice
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Labels
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Jane Jones</p>
                      <p>983 Dell St.</p>
                      <p>San Francisco, CA 94108</p>
                    </td>
                    <td>Week 1 of 6</td>
                    <td>
                      <p>Back To School Menu</p>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Invoice
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Labels
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Stephanie Miller</p>
                      <p>1511 Bell Ave.</p>
                      <p>San Francisco, CA 94103</p>
                    </td>
                    <td>Week 9 of 9</td>
                    <td>
                      <p>Fall Comfort Menu</p>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Invoice
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Labels
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Paul Hall</p>
                      <p>89 McAllister St.</p>
                      <p>San Francisco, CA 94109</p>
                    </td>
                    <td>Week 2 of 3</td>
                    <td>
                      <p>Back To School Menu</p>
                      <p>Double Chocolate Cake Add On</p>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Invoice
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Labels
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Danielle Wilson</p>
                      <p>303 Folsom St.</p>
                      <p>San Francisco, CA 94104</p>
                    </td>
                    <td>Week 8 of 12</td>
                    <td>
                      <p>Fall Comfort Menu</p>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Invoice
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">Print Labels
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
