<div id='wrapper'>
  <div id='content'>
        <div id='menus-component'>
          <div id="page-wrapper">
            <div id='admin-page'></div>
          </div>
        </div>
      </div>
  <%#= render 'admin/dashboard/order/orders' %>
  <%#= render 'admin/dashboard/menu/menus' %>
  <%#= render 'admin/dashboard/menu/menu_items' %>
  <%#= render 'admin/dashboard/subscription/subscriptions' %>
</div>
