<div id='wrapper'>
  <div id='content'>
    <div id='menus-component'>
      <div id="page-wrapper">
        <div id='admin-page'></div>
      </div>
    </div>
  </div>
</div>
<script>
  SessionStore.currentUser = <%= current_user.id %>
</script>
