<div id='wrapper'>
  <div id='admin-dashboard'></div>

  <%= render 'admin/dashboard/menu/menus' %>
  <%#= render 'admin/dashboard/menu/menu_items' %>
  <%#= render 'admin/dashboard/order/orders' %>



</div>
