<!-- Instructions: Set your background image using the URL below. -->
<header style="background-image: url(<%= asset_path('culinary/bg-header.jpg') %>)">
  <div class="intro-content">
    <%= image_tag "culinary/01_Blooming_Spoon_Logo_Final.png", :class => "img-responsive img-centered" %>
  </div>
  <div class="scroll-down">
    <a class="btn" href="#delivery"><span class="caret"></span></a>
  </div>
</header>
