<!-- Instructions: Set your background image using the URL below. -->
<header style="background-image: url('assets/culinary/bg-header.jpg')">
  <div class="intro-content">
    <img src="assets/culinary/profile.png" class="img-responsive img-centered" alt="">
  </div>
  <div class="scroll-down">
    <a class="btn" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
  </div>
</header>
