<section id="delivery" class="testimonials bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Meal Delivery</h2>
        <hr class="colored">
        <p>Weekly prepared meals delivered to your door, ready to heat. The weekly menus are inspired by seasonal, local ingredients. All of our ingredients are organic, gluten-free & dairy-free. We use fresh, whole foods that taste great without the use of additives, soy, or sweeteners.</p>
        <hr class="colored">
        <p>Currently delivering to Marin, San Francisco & Berkeley</p>
        <hr class="colored">
        <p>Sign in to see our current menu.</p>
        <p>Delivery on Tuesdays</p>
      </div>
    </div>
  </div>
</section>
