<section id="menu">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Menu</h2>
        <hr class="colored">
        <p>Here is a selection of items from our menu. Please call for additional details.</p>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-lg-12">
        <div class="portfolio-gallery">
          <% 1.upto(5).each do |img_name| %>
            <div class="item">
              <%= link_to '#' do %>
                <%= image_tag "culinary/menu/#{img_name}.jpg", :class => "img-responsive img-centered" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
