<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- My Account Well -->
    <div class="well">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Subscription</a>
                    </li>
                    <li><a href="#">Email &amp; Password</a>
                    </li>
                    <li><a href="#">Payments</a>
                    </li>
                    <li><a href="#">Addresses</a>
                    </li>
                    <li><a href="#">Order History</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>

</div>
