    <!-- Address Update Form -->
    <div class="col-lg-8">

        <div class="col-lg-2">
          <h2>Current Address</h2>
          <ul>
            <li>Name</li>
            <li>Street Address</li>
            <li>City, State, Zip</li>
          </ul>

        </div>

        <div class="col-lg-6">

            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                  <input type="text" id="inputName" placeholder="Name">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputNewStreet">New Street Address</label>
                <div class="controls">
                  <input type="password" id="inputNewStreet" placeholder="New Street Address">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputNewCity">New City</label>
                <div class="controls">
                  <input type="password" id="inputNewCity" placeholder="New City">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputNewState">New State</label>
                <div class="controls">
                  <input type="password" id="inputNewState" placeholder="New State">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputNewZipCode">New Zip Code</label>
                <div class="controls">
                  <input type="password" id="inputNewZipCode" placeholder="New Zip Code">
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">Update Address</button>
                </div>
              </div>
            </form>

        </div>

    </div>

</div>
<!-- /.row -->

