<div class="container" >

  <div class="col-md-12">

    <h1 class="text-center">Menu of the Week</h1>

    <hr>

  </div>

  <div>
    <% 5.times do %>
    <%= render 'menu_row' %>
    <% end %>
  </div>
</div>
