  <div class="container">
    <%= render 'account_nav' %>
      <div class="col-md-12">
        <h1 class="text-center">My Account</h1>
        <hr>
      </div>

    <%= render 'payment' %>
  </div>
