<div class="collapse navbar-collapse col-md-4 pull-right" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
    <li>
      <a href="/user/dashboard">Menu of the Week</a>
    </li>
    <li>
      <a href="/user/dashboard/my_account">My Account</a>
    </li>
    <li>
      <a href="#">Logout</a>
    </li>
  </ul>
</div>
