<div class="col-lg-4">
  <h3>Order History</h3>
  <ul class="list-group">
    <li class="list-group-item"><a href="#">Order 1 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 2 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 3 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 4 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 5 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 6 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 7 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 8 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 9 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 10 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 11 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 12 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 13 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 14 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 15 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 16 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 17 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 18 09-18-14</a></li>
    <li class="list-group-item"><a href="#">Order 19 09-04-14</a></li>
    <li class="list-group-item"><a href="#">Order 20 09-11-14</a></li>
    <li class="list-group-item"><a href="#">Order 21 09-18-14</a></li>
  </ul>
</div>
