<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">New Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="New Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Current Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Current Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Update Email</button>
    </div>
  </div>
</form>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Current Password</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Current Password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">New Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="New Password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">New Password Confirmation</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="New Password Confirmation">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Update Password</button>
    </div>
  </div>
</form>
