<script src="https://checkout.stripe.com/checkout.js"></script>

<button id="customButton">Purchase</button>
<script src="/assets/stores/payment-store.js"></script>
<script>
  PaymentStore.paymentListener();
</script>

