<!-- <div id='wrapper'>
  <div id='content'> -->
    <div id="page-wrapper" style="background-image: url(<%= asset_path('culinary/bg-header.jpg') %>)" >
      <div id="user-dashboard"></div>
      <%#= render 'menu_of_the_week'%>
      <%#= render 'addresses'%>
      <%#= render 'logo'%>
      <%#= render 'order_history'%>
      <%#= render 'password_email'%>
      <%#= render 'my_account'%>
    </div>
<!--   </div>
</div> -->
<script>
  SessionStore.currentUser = <%= current_user.id %>
</script>
