<div id="page-wrapper" style="background-image: url(<%= asset_path('culinary/bg-header.jpg') %>)">
  <div id="user-dashboard"></div>
</div>
<script>
  SessionStore.setCurrentUser('<%= raw j @serialized_user.to_json %>')
</script>
