<div class="container" id="user-dashboard">
  <%= render 'navbar'%>
  <%= render 'logo'%>
  <h1 class="col-md-6 text-center">My Account</h1>
  <%= render 'account_nav'%>
  <%= render 'password_email'%>
</div>
