<div id="page-wrapper">
  <div class="container" id="user-dashboard">
    <%= render 'account_nav' %>
      <div class="col-md-12">
        <h1 class="text-center">My Account</h1>
        <hr>
      </div>

    <%= render 'addresses' %>
    <%= render 'footer' %>
  </div>
</div>
