<div id='content'>
  <div id='menus-component'>
    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Menu Items
            </h1>
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
              </li>
              <li class="active">
                <i class="fa fa-edit"></i> Menu
              </li>
              <li class="active">
                <i class="fa fa-edit"></i> Menu Items
              </li>
            </ol>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">

            <form role="form">

              <div class="form-group">
                <label>Create a New Menu Item</label>
                <input class="form-control" placeholder="Name">
              </div>

              <div class="form-group">
                <label>Item Description</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label>Classifications</label>
                <label class="checkbox-inline">
                  <input type="checkbox">Entrée
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Side Dish
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Add On Option
                </label>
              </div>

              <button type="submit" class="btn btn-default">Create Item</button>
              <button type="reset" class="btn btn-default">Reset Item</button>

            </form>

          </div>

          <div class="col-lg-12">
            <div class="page-header">
              <h2>Entrées</h2>
            </div>

            <div class="list-group">
              <a href="#" class="list-group-item active">Braised Rack of Lamb</a>
              <a href="#" class="list-group-item">Baked Chicken</a>
              <a href="#" class="list-group-item">Grilled Pork Chops</a>
              <a href="#" class="list-group-item">Roasted Root Vegetables</a>
              <a href="#" class="list-group-item">Poached Salmon</a>
              <a href="#" class="list-group-item">Glazed Tofu</a>
              <a href="#" class="list-group-item">Mom's Three Meat Lasagna</a>
            </div>
            <form role="form">

              <div class="form-group">
                <label>Edit an Entrée</label>
                <input class="form-control" placeholder="Braised Rack of Lamb">
              </div>

              <div class="form-group">
                <label>Item Description</label>
                <textarea class="form-control" rows="3" placeholder="A generous portion of slow braised rack of lamb. Cooked to perfection with an in-house blend of spices."></textarea>
              </div>

              <div class="form-group">
                <label>Change Classification</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Entrée
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Side Dish
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Add On Option
                </label>
              </div>

              <button type="update" class="btn btn-default">Update Item</button>

            </form>

            <div class="page-header">
              <h2>Side Dishes</h2>
            </div>

            <div class="list-group">
              <a href="#" class="list-group-item active">Rosemary Potatoes</a>
              <a href="#" class="list-group-item">Grilled Eggplant</a>
              <a href="#" class="list-group-item">Lime Buttered Corn</a>
              <a href="#" class="list-group-item">Fajita Vegetables</a>
              <a href="#" class="list-group-item">Rice Pilaf</a>
            </div>
            <form role="form">

              <div class="form-group">
                <label>Edit a Side Dish</label>
                <input class="form-control" placeholder="Rosemary Potatoes">
              </div>

              <div class="form-group">
                <label>Item Description</label>
                <textarea class="form-control" rows="3" placeholder="New baby potatoes oven roasted until richly carmelized with a blend of rosemary, olive oil and sea salt."></textarea>
              </div>

              <div class="form-group">
                <label>Change Classification</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1">Entrée
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" checked>Side Dish
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Add On Option
                </label>
              </div>

              <button type="update" class="btn btn-default">Update Item</button>

            </form>

            <div class="page-header">
              <h2>Add On Options</h2>
            </div>

            <div class="list-group">
              <a href="#" class="list-group-item active">Double Chocolate Cake</a>
              <a href="#" class="list-group-item">Apple Tart</a>
              <a href="#" class="list-group-item">Raspberry Creme Puffs</a>
            </div>
            <form role="form">

              <div class="form-group">
                <label>Edit an Add On Option</label>
                <input class="form-control" placeholder="Double Chocolate Cake">
              </div>

              <div class="form-group">
                <label>Item Description</label>
                <textarea class="form-control" rows="3" placeholder="A rich and decidant blend of dark and milk choclate make this the perfect dessert. A moist double layer cake topped with a delicous cream cheese frosting."></textarea>
              </div>

              <div class="form-group">
                <label>Change Classification</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1">Entrée
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Side Dish
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" checked>Add On Option
                </label>
              </div>

              <button type="update" class="btn btn-default">Update Item</button>

            </form>

          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
