<div id='content'>
  <div id='menus-component'>
    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Menus
            </h1>
            <ol class="breadcrumb">
              <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
              </li>
              <li class="active">
                <i class="fa fa-edit"></i> Menus
              </li>
            </ol>
          </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">

            <form role="form">

              <div class="form-group">
                <label>Create A New Menu</label>
                <input class="form-control" placeholder="Title">
              </div>

              <div class="form-group">
                <label>Menu Description</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>

              <div class="form-group">
                <label>Menu Items</label>
                <select class="form-control">
                  <option>Braised Rack of Lamb</option>
                  <option>Baked Chicken</option>
                  <option>Grilled Pork Chops</option>
                  <option>Roasted Root Vegetables</option>
                  <option>Poached Salmon</option>
                  <option>Glazed Tofu</option>
                  <option>Mom's Three Meat Lasagna</option>
                  <option>Rosemary Potatoes</option>
                  <option>Grilled Eggplant</option>
                  <option>Lime Buttered Corn</option>
                  <option>Fajita Vegetables</option>
                  <option>Rice Pilaf</option>
                  <option>Double Chocolate Cake</option>
                  <option>Apple Tart</option>
                  <option>Raspberry Creme Puffs</option>
                </select>
              </div>

              <div class="form-group">
                <label>Classifications</label>
                <label class="checkbox-inline">
                  <input type="checkbox">Entrée
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Side Dish
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Default Selection
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Add On Option
                </label>
              </div>

              <div class="form-group">
                <label>Menu Items</label>
                <select class="form-control">
                  <option>Braised Rack of Lamb</option>
                  <option>Baked Chicken</option>
                  <option>Grilled Pork Chops</option>
                  <option>Roasted Root Vegetables</option>
                  <option>Poached Salmon</option>
                  <option>Glazed Tofu</option>
                  <option>Mom's Three Meat Lasagna</option>
                  <option>Rosemary Potatoes</option>
                  <option>Grilled Eggplant</option>
                  <option>Lime Buttered Corn</option>
                  <option>Fajita Vegetables</option>
                  <option>Rice Pilaf</option>
                  <option>Double Chocolate Cake</option>
                  <option>Apple Tart</option>
                  <option>Raspberry Creme Puffs</option>
                </select>
              </div>

              <div class="form-group">
                <label>Classifications</label>
                <label class="checkbox-inline">
                  <input type="checkbox">Entrée
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Side Dish
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Default Selection
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Add On Option
                </label>
              </div>

              <div class="form-group">
                <label>Menu Items</label>
                <select class="form-control">
                  <option>Braised Rack of Lamb</option>
                  <option>Baked Chicken</option>
                  <option>Grilled Pork Chops</option>
                  <option>Roasted Root Vegetables</option>
                  <option>Poached Salmon</option>
                  <option>Glazed Tofu</option>
                  <option>Mom's Three Meat Lasagna</option>
                  <option>Rosemary Potatoes</option>
                  <option>Grilled Eggplant</option>
                  <option>Lime Buttered Corn</option>
                  <option>Fajita Vegetables</option>
                  <option>Rice Pilaf</option>
                  <option>Double Chocolate Cake</option>
                  <option>Apple Tart</option>
                  <option>Raspberry Creme Puffs</option>
                </select>
              </div>

              <div class="form-group">
                <label>Classifications</label>
                <label class="checkbox-inline">
                  <input type="checkbox">Entrée
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Side Dish
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Default Selection
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox">Add On Option
                </label>
              </div>

              <button type="submit" class="btn btn-default">Create Menu</button>
              <button type="reset" class="btn btn-default">Reset Menu</button>

            </form>

          </div>
          <div class="col-lg-12">
            <h2>Current Menus</h2><hr>

            <form role="form">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Back to School</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Baked Chicken</p>
                  Side Dish: <p>Rosemary Potatoes</p>
                  Add On Option: <p>Double Chocolate Cake</p>
                </div>
              </div>
              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <form role="form">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Fall Comfort</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Grilled Pork Chops</p>
                  Side Dish: <p>Roasted Root Vegetables</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <h2>Previous Menus</h2><hr>

            <form role="form">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Veggie Lovers</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Grilled Eggplant</p>
                  Side Dish: <p>Rice Pilaf</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <form role="form">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Summer BBQ</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Baked Chicken</p>
                  Side Dish: <p>Lime Buttered Corn</p>
                  Add On Option: <p>Apple Tart</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
