<div id='content'>
  <div id='menus-component'>
    <div id="page-wrapper">

      <div class="container-fluid">

        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h2>Current Menu</h2>
            </div>

            <form role="form">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Back to School</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Baked Chicken</p>
                  Side Dish: <p>Rosemary Potatoes</p>
                  Add On Option: <p>Double Chocolate Cake</p>
                </div>
              </div>
              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <form role="form">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Fall Comfort</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Grilled Pork Chops</p>
                  Side Dish: <p>Roasted Root Vegetables</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <div class="page-header">
              <h2>Previous Menus</h2>
            </div>

            <form role="form">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Veggie Lovers</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Grilled Eggplant</p>
                  Side Dish: <p>Rice Pilaf</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

            <form role="form">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Summer BBQ</h3>
                </div>
                <div class="panel-body">
                  Entrée: <p>Baked Chicken</p>
                  Side Dish: <p>Lime Buttered Corn</p>
                  Add On Option: <p>Apple Tart</p>
                </div>
              </div>

              <div class="form-group">
                <label>Menu Availability</label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Non-Active
                </label>
              </div>
            </form><hr>

          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
  </div>
</div>
