/*body {
  background-color: #fff;
}

.menu-item {
  margin-bottom: 25px;
}*/

#page-wrapper {
  color: lightgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70em;
}

.panel {
  color: black;
}

.list-group-item {
  color: black;
}

.progress-bar {
  color: black;
}

h3 {
  color: lightgrey;
}

.alert {
  margin: 1em 0;
}

input[type="checkbox"] {
  display: inline-block !important;
  margin-right: 1em;
  padding: 0;
  width: 1em;
}

.page {
  background-color: white;
  color: black;
  padding: 1em;
}
